<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Reset Password</title>
</head>

<body>
    <div class="content">
        <div class="text">
            Reset your password
        </div>
        <form action="{{ url_for('forgot_password') }}" method="POST">
            <div class="field">
                <input type="text" placeholder= "Email" name="email" required>
                <span class="fas fa-envelope"></span>
            </div>
            <button type="submit">Send Reset Link</button>
        </form>

        <div class="sign-up">
            <a href="/">Go LogIn</a>
        </div>
    </div>
</body>

</html>