<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <div class="popup-box">
        <div class="popup">
            <div class="content">
                <header>
                    <p></p>
                    <i class="uil uil-times"></i>
                </header>
                <form action="#">
                    <div class="row title">
                        <label>Title</label>
                        <input type="text" id="note-title" spellcheck="false">
                    </div>
                    <div class="row description">
                        <label>Content</label>
                        <textarea id="note-content" spellcheck="false"></textarea>
                    </div>
                    <button type="submit" id="add-btn">Add Note</button>
                </form>
            </div>
        </div>
    </div>
    <div class="header-container">
        <div class="username">
            <p>Hello, {{username}}</p>
        </div>
        <button class="delete-all-btn" onclick="deleteAllNotes()">Delete All Notes</button>
        <a class="exit" href="{{ url_for('logout') }}">Exit</a>
    </div>

    <div class="wrapper">
        <ul class="notes-container">
            {% for note in notes %}
            <li class="note" data-id="{{ note.id }}">
                <div class="details">
                    <p>{{ note.title }}</p>
                    <span>{{ note.content }}</span>
                </div>
                <div class="bottom-content">
                    <span>{{ note.created_at.strftime('%B %d, %Y') }}</span>
                    <div class="settings">
                        <i onclick="showMenu(this)" class="uil uil-ellipsis-h"></i>
                        <ul class="menu">
                            <li onclick="updateNote({{ note.id }}, '{{ note.title }}', '{{ note.content }}')"><i
                                    class="uil uil-pen"></i>Edit</li>
                            <li onclick="deleteNote({{ note.id }})"><i class="uil uil-trash"></i>Delete</li>
                        </ul>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <li class="add-box">
            <div class="icon"><i class="uil uil-plus"></i></div>
            <p>Add new note</p>
        </li>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>